.experiencia__item{
    background-color: #FFF;
    border:1px solid #325057;
    box-shadow: 0px 2px 5px 1px #00000073;
    margin:0px;
    padding: 15px 20px;
    position: relative;
}
.experiencia__item.margin-right,.experiencia__item.margin-left{
    margin:15px 0px;
}
.experiencia__item::after{
    background-color: #325057;
    content: "";
    height: 7px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 170px;
}
.experiencia__item header{
    border-bottom: 1px solid #DEDEDE;
    margin:10px 0px;
    padding-bottom: 10px;
    text-align: center;
}
.experiencia__item header figure{
    height: 100%;
    margin:auto;
    padding:5px;
    padding-right: 15px;
    vertical-align: middle;
    width: 80px;
}
.experiencia__item header h2{
    font-size: 1.2em;
    font-weight: 100;
    margin:0px;
    padding:0;
}
.experiencia__item span{
    color:#325057;
}

@media (min-width: 500px) {
    .experiencia__item header h2{
        font-size: 1.5em;
    }
}

@media(min-width:960px){
    .experiencia__item.margin-right{
        margin-right: 20px;
    }
    .experiencia__item.margin-left{
        margin-left: 20px;
    }
}